<a href="https://colab.research.google.com/github/martamsimoes10/python/blob/main/MPA_1203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
install.packages('fpp3')

In [ ]:
install.packages('skimr')

In [ ]:
library(fpp3)

In [ ]:
library(skimr)

Ex. 1

In [ ]:
? gafa_stock

In [ ]:
print(gafa_stock)
#ponto de exclamação- dados irregulares (as datas não são de todos os dias)
# a chave (key) é a coluna symbol e tem 4 valores distintos

In [ ]:
print(tail(gafa_stock) )#ver o fim da tabela
#responde então à pergunta do periodo temporal - desde dia 2/01 de 2014 a 31/12 de 2018

In [ ]:
#quais são os 4 symbol 
gafa_stock %>%
  distinct(Symbol) %>%
    pull() #para ver em vetor

#conseguimos ver os  valores distintos da tabela

[1] "AAPL" "AMZN" "FB"   "GOOG"

In [ ]:
#mudar tamanho de tabelas
options(width=120) #para ver as tabelas com os dados completos, porque se não muda de linha porque o maximo sao 80 carateres na predefiniçao
skim(as_tibble(gafa_stock))

In [ ]:
#autoplot(gafa_stock) #se nao especificarmos ele vai buscar a primeira
#para mudar o tamanho dos gráficos
options(repr.plot.width=12, repr.plot.height=6)
autoplot(gafa_stock, Close) #aqui especificamos qual a coluna que queremos ver no eixo do y

In [ ]:
#como podemos separar as series porque as de baixo estamos a ver com a escola das de cima então não dá para ver bem a tendencia
autoplot(gafa_stock, Close) + facet_grid(vars(Symbol))
#a variavel que vamos separar é o symbol - vou obter um grafico para cada symbol, no entanto a escola continua o mesmo para todos

In [ ]:
autoplot(gafa_stock, Close) + facet_grid(vars(Symbol), scales = 'free_y') #cada escala vai ter o valores adaptado aos que estao

Ex. 2

In [ ]:
gafa_stock %>%
  group_by(Symbol) %>% #temos de agrupara para vermos os valores de cada um, porque se não viamos só o symbol que tinha o valor close maximo
    filter(Close == max(Close)) %>% #filtrar linhas
      ungroup() %>% #para continuar a tratar os dados como um todo porque senao ia tratar como grupos separados -> dá jeito para p.e. a média
        select(Symbol, Date, Close) #selecionar colunas

Ex. 8

In [ ]:
#fazer depois

Ex. 10

In [ ]:
#correspondencia entre o cronograma e o correlograma
# Feito
#1-B
#2-A
#3-D
#4-C